<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive IR</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script type="text/babel">
    // Components
    function CardIR(props){
        return (
            <div className="card bg-white">
                <p className="card-header h5 bg-grey">{props.title}</p>
                <div className="p-3">
                    {props.content}
                </div>
            </div>
        );
    }

    function RadioIR(props){
        var items = [];
        for(var i = 0; i < props.options.length; i++){
            if(i === 0){
                items.push(
                    <div className="custom-control custom-radio" key={props.title + "_" + props.options[i]}>
                      <input
                        type="radio"
                        id={props.title + "_" + props.options[i]}
                        name={props.title}
                        className="custom-control-input"
                        value={props.options[i]}
                        defaultChecked
                      />
                      <label className="custom-control-label" htmlFor={props.title + "_" + props.options[i]}>{props.labels[i]}</label>
                    </div>
                );
            }
            else {
                items.push(
                    <div className="custom-control custom-radio" key={props.title + "_" + props.options[i]}>
                      <input
                        type="radio"
                        id={props.title + "_" + props.options[i]}
                        name={props.title}
                        className="custom-control-input"
                        value={props.options[i]}
                      />
                      <label className="custom-control-label" htmlFor={props.title + "_" + props.options[i]}>{props.labels[i]}</label>
                    </div>
                );
            }
        }
        return (
            <div className="form-group">
                <h6>{props.title}</h6>
                {items}
            </div>
        );
    }

    class IRSettings extends React.Component{

        enableTab(id) {
            var el = document.getElementById(id);
            el.onkeydown = function(e) {
                if (e.keyCode === 9) { // tab was pressed

                    // get caret position/selection
                    var val = this.value,
                        start = this.selectionStart,
                        end = this.selectionEnd;

                    // set textarea value to: text before caret + tab + text after caret
                    this.value = val.substring(0, start) + '\t' + val.substring(end);

                    // put caret at right position again
                    this.selectionStart = this.selectionEnd = start + 1;

                    // prevent the focus lose
                    return false;

                }
            };
        }

        sendRequest(){
            $('#img_loading').show();
        }

        componentDidMount(){
            this.enableTab("textarea_doc");
            this.enableTab("textarea_query");
            this.enableTab("textarea_relevance");
            $('#img_loading').hide();
        }

        render(){
            return(
                <div>
                    <form action="{{ url_for('result') }}" id="IRSettingsForm" method="post">
                        <div className="container">
                        <div className="row">
                            <div className="col-12 col-sm-12 d-flex justify-content-center">
                                <h1>Interactive Information Retrieval System (IIR)</h1>
                            </div>
                        </div>

                        {/* Indexing */}
                        <div className="row p-2">
                            <div className="col-12 col-sm-12">
                                <CardIR
                                    title="Indexing"
                                    content={
                                        <div>
                                            <div className="row">
                                                <div className="col-12 col-md-4">
                                                    <RadioIR
                                                        title="TF"
                                                        options={
                                                            [
                                                                'none',
                                                                'binary',
                                                                'raw',
                                                                'log',
                                                                'aug'
                                                            ]
                                                        }
                                                        labels={
                                                            [
                                                                'None',
                                                                'Binary TF',
                                                                'Raw TF',
                                                                'Log TF',
                                                                'Augmented TF',
                                                            ]
                                                        }
                                                    />
                                                </div>
                                                <div className="col-12 col-md-4">
                                                    <RadioIR
                                                        title="IDF"
                                                        options={
                                                            [
                                                                'false',
                                                                'true'
                                                            ]
                                                        }
                                                        labels={
                                                            [
                                                                'None',
                                                                'Use IDF'
                                                            ]
                                                        }
                                                    />
                                                </div>
                                                <div className="col-6 col-md-4">
                                                    <RadioIR
                                                        title="Normalization"
                                                        options={
                                                            [
                                                                'false',
                                                                'true'
                                                            ]
                                                        }
                                                        labels={
                                                            [
                                                                'None',
                                                                'Normalization',
                                                            ]
                                                        }
                                                    />
                                                </div>
                                                <div className="col-6 col-md-4">
                                                    <RadioIR
                                                        title="Stopwords"
                                                        options={
                                                            [
                                                                'false',
                                                                'true'
                                                            ]
                                                        }
                                                        labels={
                                                            [
                                                                'Not Eliminated',
                                                                'Eliminated',
                                                            ]
                                                        }
                                                    />
                                                </div>
                                                <div className="col-6 col-md-4">
                                                    <RadioIR
                                                        title="Stemming"
                                                        options={
                                                            [
                                                                'false',
                                                                'true'
                                                            ]
                                                        }
                                                        labels={
                                                            [
                                                                'None',
                                                                'Use Stemming (Porter)',
                                                            ]
                                                        }
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                />
                            </div>
                        </div>

                        {/* Retrieval */}
                        <div className="row p-2">
                            <div className="col-12 col-sm-12">
                                <CardIR
                                    title="Retrieval"
                                    content={
                                        <div>
                                            <div className="row">
                                                <div className="col-12 col-sm-12">
                                                    <div className="custom-control custom-radio custom-control-inline">
                                                      <input type="radio" id="experiment" name="Retrieval" value="experiment" className="custom-control-input" defaultChecked/>
                                                      <label className="custom-control-label" htmlFor="experiment">Experiment</label>
                                                    </div>
                                                    <div className="custom-control custom-radio custom-control-inline">
                                                      <input type="radio" id="interactive" name="Retrieval" value="interactive" className="custom-control-input"/>
                                                      <label className="custom-control-label" htmlFor="interactive">interactive</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            {/* Documents */}
                                            <div className="row">
                                                <div className="col-12 col-sm-12">
                                                    <div className="input-group input-group-sm" id="input_document">
                                                      <div className="input-group-prepend">
                                                        <span className="input-group-text">Document Collections</span>
                                                      </div>
                                                      <textarea
                                                          rows="10"
                                                          className="form-control"
                                                          name="input_doc"
                                                          id="textarea_doc"
                                                          form="IRSettingsForm"
                                                          aria-label="With textarea"
                                                      />
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            {/* Queries */}
                                            <div className="row">
                                                <div className="col-12 col-sm-12">
                                                    <div className="input-group input-group-sm" id="input_query">
                                                      <div className="input-group-prepend">
                                                        <span className="input-group-text" id="input_query_label">Query Collections</span>
                                                      </div>
                                                      <textarea
                                                          rows="5"
                                                          className="form-control"
                                                          name="input_query"
                                                          id="textarea_query"
                                                          form="IRSettingsForm"
                                                          aria-label="With textarea"
                                                      />
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            {/* Relevance Judgement */}
                                            <div className="row">
                                                <div className="col-12 col-sm-12">
                                                    <div className="input-group input-group-sm" id="input_relevance">
                                                      <div className="input-group-prepend">
                                                        <span className="input-group-text">Relevance Judgement</span>
                                                      </div>
                                                      <textarea
                                                          rows="10"
                                                          className="form-control"
                                                          name="input_relevance"
                                                          id="textarea_relevance"
                                                          aria-label="With textarea"
                                                      />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                />
                            </div>
                        </div>

                        <div className="row p-2">
                            <div className="col-12 col-sm-12 d-flex justify-content-center">
                                <button className="btn btn-primary" onClick={this.sendRequest}>Submit</button>
                            </div>
                            <div className="col-12 col-sm-12 d-flex justify-content-center">
                                <img id="img_loading" src="/static/img/loading.gif" alt="Processing" />
                            </div>
                        </div>
                    </div>
                    </form>

                    <div className="container">
                        <div className="card">
                            <div className="card-header">
                                <h5>User Guide</h5>
                            </div>
                            <div className="card-body">
                                <h5 className="card-title">Indexing</h5>
                                <p className="card-text">
                                    There are a lot options that affecting how the IR system works:
                                    <table className="table">
                                        <thead>
                                            <tr>
                                                <th>Options</th>
                                                <th>Definition</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Term Frequency (TF)</td>
                                                <td>
                                                    Indicates the significance (weight) of a particular term within a document.
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <b>Binary : </b>
                                                            If a term occurs in a document, the term's TF value in that document
                                                            will be 1, otherwise it's 0.
                                                        </li>
                                                        <li>
                                                            <b>Raw : </b>
                                                            If a term occurs in a document, the term's TF value will be the term's occurrences
                                                            count in that document, otherwise it's 0.
                                                        </li>
                                                        <li>
                                                            <b>Log : </b>
                                                            If a term occurs in a document, the term's TF value will be&nbsp;
                                                            <code>1 + log2(term's occurences count)</code>, otherwise it's 0.
                                                        </li>
                                                        <li>
                                                            <b>Aug : </b>
                                                            If a term occurs in a document, the term's TF value will be&nbsp;
                                                            <code>0.5 + (0.5 * (term's count / maximum terms count in document))</code>,
                                                            otherwise it's 0.
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Inverse Document Frequency (IDF)</td>
                                                <td>
                                                    Indicates the rareness of a term in a collection of documents.
                                                </td>
                                                <td>
                                                    <code>log2( total_number_of_documents / number_of_documents_that_contain_the_term )</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Normalization</td>
                                                <td>
                                                    Generally refers to a series of related tasks meant to put all text on a level playing field.
                                                </td>
                                                <td>
                                                    In this application, Normalization will do these things (in order):
                                                    <ol>
                                                        <li>Convert numbers to words</li>
                                                        <li>Remove punctuations</li>
                                                        <li>Case-Folding to lower case</li>
                                                    </ol>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Stopwords Removal</td>
                                                <td>Remove stopwords from documents and queries input.</td>
                                                <td>
                                                    <ul>
                                                        <li>Only works on English language</li>
                                                        <li>
                                                            English stopwords : &nbsp;
                                                            <a href="https://gist.github.com/sebleier/554280">Link</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Stemming</td>
                                                <td>
                                                    Reduce inflectional forms and sometimes derivationally related forms of a word to a common base form.
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Only Porter Stemmer is used</li>
                                                        <li>
                                                            More info about Stemming :&nbsp;
                                                            <a href="https://nlp.stanford.edu/IR-book/html/htmledition/stemming-and-lemmatization-1.html">Link</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p>
                                <br/>
                                <h5 className="card-title">Retrieval</h5>
                                <p className="card-text">
                                    <table className="table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Description</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Experiment</td>
                                                <td>
                                                    <ul>
                                                        <li>Show the performance analysis only based on relevance judgment.</li>
                                                        <li>
                                                            Analyzed performance:
                                                            Recall, Precision, Mean Average Precision,
                                                            Query-by-query performance, and inverted file.
                                                        </li>
                                                        <li>
                                                            Relevance judgement field is mandatory.
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Interactive</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            Works like a search engine. Shows ranked relevance documents.
                                                        </li>
                                                        <li>
                                                            Works with one query only.
                                                        </li>
                                                        <li>
                                                            Relevance judgement field is not mandatory.
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p>
                                <br/>
                                <h5 className="card-title">Inputs</h5>
                                <p className="card-text">
                                    <table className="table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Template</th>
                                            <th>Example</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Document Collections</td>
                                                <td>
                                                    &lt; document's id &gt;<br/>
                                                    &lt; document's content (multiline allowed) &gt;<br/>
                                                    /
                                                </td>
                                                <td>
                                                    1<br/>
                                                    compact memories have flexible capacities  a digital data storage<br/>
                                                    system with capacity up to bits and random and or sequential access<br/>
                                                    is described<br/>
                                                    /<br/>
                                                    2<br/>
                                                    an electronic analogue computer for solving systems of linear equations<br/>
                                                    mathematical derivation of the operating principle and stability<br/>
                                                    conditions for a computer consisting of amplifiers<br/>
                                                    /
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Query Collections</td>
                                                <td>
                                                    &lt; query's id &gt;<br/>
                                                    &lt; query's content (multiline allowed) &gt;<br/>
                                                    /
                                                </td>
                                                <td>
                                                    1<br/>
                                                    Measurement of dielectric constant<br/>
                                                    /<br/>
                                                    2<br/>
                                                    Mathematical Analysis<br/>
                                                    /
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Relevance Judgement</td>
                                                <td>
                                                    &lt; query's id &gt;<br/>
                                                    &lt; <br/> relevance documents' id<br/>
                                                    (multiline allowed, separated by space)
                                                    <br/>&gt;<br/>
                                                    /
                                                </td>
                                                <td>
                                                    1<br/>
                                                    1239 1502 4462 4569 5472 5502 <br/>
                                                    7923 8150 8172 8277 9219 9859 <br/>
                                                    /<br/>
                                                    2<br/>
                                                    414 1894 3785 4720 5894 6736 <br/>
                                                    /
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p>
                            </div>
                        </div>
                        <br/>
                        <h6 className="text-right text-muted">Developed and maintained by Shandy</h6>
                    </div>
                </div>
            );
        }
    }

    // JQuery
    $(function(){
        $("input[name='Retrieval']").on('change', function(e){
            var type_retrieval = $(e.currentTarget).val();
            if(type_retrieval === 'experiment'){
                $('#input_query_label').text("Query Collections");
                $('#input_relevance').show()
            }
            else if(type_retrieval === 'interactive') {
                $('#input_query_label').text("Write a query");
                $('#input_relevance').hide()
            }
        });
    });

    ReactDOM.render(
        <IRSettings/>,
        document.getElementById('root')
    );
</script>
</html>